[submodule "ext/frontend"]
	path = ext/frontend
	url = git@github.com:Brennan-Flood/woodnet-frontend.git
[submodule "ext/lambda-py"]
	path = ext/lambda-py
	url = git@github.com:vvmirkovic/woodnet-server.git
[submodule "ext/sam_rust_example"]
	path = ext/sam_rust_example
	url = git@github.com:CoreyCole/sam_rust_woodnet.git
